<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vanilai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05015D3D1E4247570046CA4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05015D541E42475C0046CA4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05015D5F1E42475C0046CA4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
